
#main{
	background-color: lightblue;
}

#questions{
	text-align: center;
}

h1, h4{
	color: black;
	padding-bottom: 0;
	text-align: center;
}

h3{
	color: black;
	text-align: center;
	font-family: WinterPrincess;
	src: url(https://www.fontspace.com/winter-princess-font-f53532);
	font-family: WayGardens;
	src: url(https://www.fontspace.com/way-gardens-font-f15619);
	font-family: SummerLove;
	src: url(https://www.creativefabrica.com/product/summer-love/ref/74273/);
	font-family: AutumnDeco;
	src: url(https://www.fontspace.com/autumn-deco-font-f7000);
}




#results{
	color: black;
 	background-color: pink;
  	text-align: center;
  	padding:25px;
  	
}

.button {
	background-color: lightgreen;
	font-family: times;
	font-size: 1.5em;
	color: black;
	text-align: center;
	width: 40%;
	border: none;
	padding: 20px;
	border-spacing: 20px;
	margin: 20px;
}